.chat-app-home-bg-container {
    margin: 30px;
    display: flex;
    flex-direction: row;
    height: 90vh;
    border-radius: 10px;
    border: 1px solid #222222;
}

.home-menu-container {
    background-color: #f2f0f0;
    width: 35%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px;
}

.home-menu-user-bg-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.home-menu-user-initial {
    background-color: #30de30;
    color: #ffffff;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    margin-right: 20px;
}

.home-menu-user-name {
    color: #222222;
    font-family: "Roboto";
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 0px;
}

.home-menu-user-proffesion {
    color: #484343;
    font-family: "Roboto";
    font-size: 14px;
    margin-top: 0px;
}

.home-menu-conv-title-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.home-menu-conv-title {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
}

.home-menu-channels-bg-card {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    padding-top: 0px;
}

.home-menu-channel-card {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

.active-bg {
    background-color: #427ccd;
    border-radius: 20px;
}

.home-menu-channel-dp {
    height: 50px;
    width: 50px;
    border-radius: 14px;
    background-color: #bcb2b2;
    color: #222222;
    text-align: center;
    padding-top: 13px;
    font-size: 17px;
}

.home-menu-channel-name {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    padding-left: 15px;
}

.home-chatbox-bg-container {
    background-color: #ecfaf8;
    width: 65%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
}